{{#if notification}}
<div class="container">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">{{notification.message_title}}</h3>
        </div>
        <div class="panel-body">
            {{notification.message}}
        </div>
    </div>
</div>
{{/if}}