<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Under Construction</h3>
        </div>
        <div class="panel-body">
            Thank you for showing interest in Streamers! Unfortunately, Streamers is still in development and is not yet available for use. Please check back later.
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">WebSocket Echo Test</h3>
        </div>
        <div class="panel-body">
            <div id="output"></div>
        </div>
        <div class="panel-footer">
            <p>Source: <strong><a href="https://www.websocket.org/echo.html">https://www.websocket.org/echo.html</a></strong></p>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">WebSocket Interactive Test</h3>
        </div>
        <div class="panel-body">
            
        </div>
        <div class="panel-footer">
            <p>Source: <strong><a href="http://code.tutsplus.com/tutorials/using-nodejs-and-websockets-to-build-a-chat-service--net-34482">http://code.tutsplus.com/tutorials/using-nodejs-and-websockets-to-build-a-chat-service--net-34482</a></strong></p>
        </div>
    </div>
    
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">A Chat application with Node.js and Socket.io</h3>
        </div>
        <div class="panel-body">
            <p>This is not yet working but I think it is likely the best place to begin.</p>
        </div>
        <div class="panel-footer">
            <p>Source: <strong><a href="http://socket.io/get-started/chat/">http://socket.io/get-started/chat/</a></strong></p>
        </div>
    </div>
</div>

<script src="/scripts/vendor/websocketstest.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>