<div class="container">
    <div class='row'>
        <div class="col-md-9">
            <div class="panel panel-info">
                <div class="panel-heading">
                    {{title}}
                </div>
                <div class="panel-body panel-chat">
                    <ul id="messages"></ul>
                </div>
            </div>
        </div>
        <div class='col-md-3'>
            <div class="panel panel-info">
                <div class="panel-heading">
                    Roster
                </div>
                <div class="panel-body">
                    <ul id="roster1"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12'>
            <div class="form-group">
                <form action="">
                    <div class='row'>
                        <div class='col-md-9'>
                            <input id="m-in" autocomplete="off" class="form-control" />
                        </div>
                        <div class='col-md-1'>
                            <button class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>