<div class="container">
    <div class="panel panel-{{error.severity}}">
        <div class="panel-heading">
            <h3 class="panel-title">{{error.title}}</h3>
        </div>
        <div class="panel-body">
            {{error.message}}<br>
        </div>
    </div>
</div>