<!doctype html>
<html class="html" lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/styles/bootstrap.default.css">
        <link rel="stylesheet" href="/styles/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>
    
    <body class="body">
        <div id="wrap">
            <div class="container">
                {{> header}}
                {{{body}}}
            </div>
        </div>
        
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
</html>