<!doctype html>
<html class="html" lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/styles/bootstrap.default.css">
        <link rel="stylesheet" href="/styles/font-awesome.css">
        <link rel="stylesheet" href="/styles/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="icon" href="/favicon.png">
    </head>
    
    <body class="body">
        <div id="wrap">
            {{> header}}
            {{> notification}}
            {{{body}}}
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        {{#if chat}}
        <script src="/scripts/chat-client.js"></script>
        {{/if}}
    </body>
</html>