body {
    padding-top: 70px;
}

.chat {
    list-style-type: none; margin: 0; padding: 0;
}

.chat.li {
    padding: 5px 10px;
}

.m-user {
    list-style: none;
    font-style: normal;
    font-weight: bold;
}

.m-chat {
    display: inline;
    font-style: normal;
    font-weight: normal;
}

.m-status {
    list-style: none;
    font-style: italic;
}

.panel-chat {
    max-height: 75vh;
    overflow-y: auto;
}